#macro( menu $actived )

#if ( $projetoPesquisa )
#set( $list = ["home","membros","projetos","publicacoes","contato"] )
#else
#set( $list = ["home","membros","projetos","contato"] )
#end

#foreach( $item in $list )
#set( $active = '' )
#if ( $actived == $item )#set( $active = ' class="active"' )#end
    <a$active href="${item}.jsp"><%out.println(Properties.getProperty(this.getServletContext(),"${item}"));%></a>
#end

#end

#macro(formfields $fields)
#foreach($field in $fields)
		String $field = this.formfields.get("$field");
#end
#end

#macro( createModels $classes)
#foreach( $item in $classes )
		<mapping class="${item}"/>
#end
#end

#macro(localemenu)
#if ($localizacao)
#set($locales = [["en", "US"], ["pt", "BR"]])
<ul id="localeselect">
	#foreach($locale in $locales)
	<li><a href="?language=${locale.get(0)}&country=${locale.get(1)}">${locale.get(0)}</a></li>
	#end
</ul>
#end
#end

#macro(localeset)
	#if ($localizacao)
	<% 
	if (request.getParameter("language") != null && request.getParameter("country") != null) {
		Properties.setLocale(request.getParameter("language"), request.getParameter("country")); 
	}
	%>
	#end
#end